.container { font-size: 1em; }
.esriPopup .contentPane dl { display: flex; flex-direction: row; flex-wrap: wrap; }
dd, dt{ width:auto; }
dt { font-weight: 700; min-width: 55%; margin-right: 5px;}
dd { max-width: 43%; }
.locate { margin-left: 5px; font-size: 1.5em; font-weight: 700;}
#dialog p {position: absolute;top: 40%;left: 11%; font-size: 14px;}
